 .u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  min-height: 776px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 776px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 70px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 75px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 38px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 776px;
  background-image: url("images/sd-min.jpg");
  background-position: 0% 50%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-bottom: -874px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 10px 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 648px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 841px;
}

.u-section-2 .u-list-1 {
  width: 772px;
  margin: 33px auto 0 -18px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 781px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-8 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 30px 52px;
}

.u-section-2 .u-icon-9 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 841px;
  width: 348px;
  height: auto;
  margin: -814px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 10px;
}

.u-section-2 .u-text-19 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-list-1 {
    width: 637px;
    height: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 543px;
    width: 287px;
    margin-top: -542px;
    margin-bottom: 59px;
    height: auto;
  }

  .u-section-2 .u-text-20 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-left: 42px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1852px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    min-height: 305px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 875px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 87px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 621px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 621px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-form-1 {
  width: 632px;
  left: auto;
  right: 30px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  padding: 16px 0 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-3 .u-form-1 {
    width: 627px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-3 .u-form-1 {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 652px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 387px;
  margin: 42px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 864px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-4 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-7 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-image-1 {
  min-height: 698px;
  background-image: url("images/2e69aabe-c496-6658-d688-2612508a6b44.jpg");
  background-position: 50% 61.92%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 40px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 928px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 19px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  font-family: "Playfair Display", serif;
  margin: 21px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 12px 269px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 576px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 765px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 441px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 584px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 368px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 708px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 680px;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 40px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 525px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  height: 284px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  width: 284px;
  background-image: url("images/2.jpg");
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  margin: 16px 30px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 525px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  height: 284px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  width: 284px;
  background-image: url("images/s.jpg");
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 30px 0;
}

.u-section-6 .u-text-5 {
  font-style: normal;
  margin: 16px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-6 .u-image-1 {
    height: 253px;
    width: 253px;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-6 .u-image-2 {
    height: 253px;
    width: 253px;
  }

  .u-section-6 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 17px;
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1618px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 330px;
    width: 330px;
  }

  .u-section-6 .u-image-2 {
    height: 320px;
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 892px;
}

.u-section-7 .u-image-1 {
  height: 578px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 35px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 274px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 931px;
  }

  .u-section-7 .u-image-1 {
    height: 441px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}







